<form action="/data/add" method="post">
   <p>
       <label>Answer</label><input value="" name="Answer"/><br><br>
       <label>Similarity Index</label><input value="" name="SimilarityIndex"/><br><br>
       <label>Facial Expression Value</label><input value="" name="FacialExpressionValue"/><br><br>
       <button type="submit">Submit Answer</button>

   </p>


</form>